/* estilos globbales  */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Dancing Script", cursive;
	font-family: "Open Sans", sans-serif;
}

body {
	background-color: #dddbdb;
}

/* contenedor principal  */
.container {
	display: flex;
	width: 100%;
	height: 100vh;
	background-color: transparent;
	align-items: center;
	justify-content: center;
}

/* contenedor del formulario  */
.container .form {
	width: 650px;
	max-width: 750px;
	min-width: 350px;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
	background-color: #ffffff;
	backdrop-filter: blur(5px);
	border-radius: 0.7em;
	position: relative;
	padding: 20px;
}
/* titulo de agregar tareas  */
.container .form .form__tittle {
	color: rgb(70, 70, 70);
	margin-bottom: 15px;
}

.tittle{
	font-size: 6em; 
	letter-spacing: -5px;
	background: linear-gradient(45deg, #28c8c0, #3333ff); 
	-webkit-background-clip: text; 
	color: transparent; 
}

/* text area  */
.container .form .add__task {
	border: none;
	outline: none;
	resize: none;
	background-color: #ebebeb;
	border-radius: 0.7em;
	margin-right: 30px;
	padding: 10px 10px;
	color: #5b5b5b;
	width: 80%;
	height: 75px;
	margin-bottom: 30px;

}
.container .form .contend__btn{
	display: flex;
	width: 100%;
	justify-content: space-around;
}

/* botones de editar  */

.btn__contend--editar{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 50px;
}

.container .form .button_task--editar {
	background-color: #f3f7fe;
	border: none;
	border-radius: 8px;
	width: 150px;
	height: 45px;
	transition: .3s;
	cursor: pointer;
	border: solid #3b82f6 2px;
	margin-bottom: 20px;
}

a{
	text-decoration: none;
}

.container .form .button_task--cancelar{
	background-color: #f3f7fe;
	border: none;
	border-radius: 8px;
	width: 150px;
	height: 45px;
	border: solid #f63b3b 2px;
	transition: .3s;
	cursor: pointer;
}

.container .form .button_task--editar:hover{
	background-color: #3b82f6;
	box-shadow: 0 0 0 5px #3b83f65f;
	color: #fff;
}

.container .form .button_task--cancelar:hover{
	background-color: #f63b3b;
	box-shadow: 0 0 0 5px #d53434;
	color: #fff;
}


/* alerta de tarea agregada incorectamente  */
.label__error {
	color: #ffffff;
	background-color: #ff7070;
	font-size: 1.1em;
	font-weight: 600;
	width: 550px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.7em;
	padding: 45px 10px;
	position: fixed;
	left: 50%;
	transform: translate(-50%);
	top: 10px;
}

/* btn agregar tareas  */
.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 20px;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 a{
	text-decoration: none;
	color: #ffffff;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

