/* estilos globbales  */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Dancing Script", cursive;
	font-family: "Open Sans", sans-serif;
}

body {
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
/* contenedor principal  */
.container {
	display: flex;
	width: 100%;
	height: 100vh;
	background-color: transparent;
	align-items: center;
	justify-content: center;
}
/* contenedor del formulario  */
.container .form {
	width: 650px;
	max-width: 750px;
	min-width: 350px;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
	background-color: #ffffff;
	backdrop-filter: blur(5px);
	border-radius: 0.7em;
	position: relative;
	padding: 20px;
}
/* titulo de agregar tareas  */
.container .form .form__tittle {
	color: rgb(70, 70, 70);
	font-size: 1.5em;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translate(-50%);
	font-weight: 700;
}

/* text area  */
.container .form .add__task {
	border: none;
	outline: none;
	resize: none;
	background-color: #ebebeb;
	border-radius: 0.7em;
	margin-right: 30px;
	padding: 10px 10px;
	color: #5b5b5b;
	width: 80%;
	height: 75px;
	margin-bottom: 30px;
    /* font-size: .8em;
    border-radius: .7em;
    margin-right:30px; */
}

/* button agregar tareas  */
.container .form .button_task {
	font-size: 1.2em;
	border-radius: 0.7em;
	border: none;
	outline: none;
	background-color: #1784c3;
	color: #ffffff;
	font-weight: 600;
	padding: 10px 20px;
	transition: box-shadow 0.2s ease;
	cursor: pointer;
}

.container .form .button_task:hover {
	background-color: #1473aa;
	box-shadow: 0px 3px 15px 0px rgb(141, 140, 140);
}

/* alerta de tarea agregada incorectamente  */
.label__error {
	color: #ffffff;
	background-color: #f27878;
	font-size: 1.1em;
	font-weight: 600;
	width: 550px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.7em;
	padding: 45px 10px;
	position: fixed;
	left: 250px;
	top: 10px;
}
/* alerta de tarea agregada corectamente  */
.label__succesfull {
	color: #ffffff;
	background-color: #a3f278;
	font-size: 1.1em;
	font-weight: 600;
	width: 550px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.7em;
	padding: 45px 10px;
	position: fixed;
	left: 250px;
	top: 10px;
}
