/* contenedor tareas completadas  */
.container .task__completed {
	width: 450px;
	max-width: 550px;
	min-width: 350px;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* flex-direction: column; */
	background-color: #ffffff;
	border-radius: 0.7em;
	position: relative;
	padding: 20px;
}

/* tabla de tareas  */
.table {
	width: 670px;
	border-radius: 0.7em;
	background-color: #ffffff;
	padding: 25px;
	border: none;
}

.table th {
	border: none;
	padding: 10px;
}

.table td {
	border: none;
	padding: 15px 20px;
}

/* botones de la lista de tareas  */

.btn {
	border-radius: 0.7em;
	color: #302f2f;
	padding: 10px;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: 600;
}

.btn__editar {
	background-color: #f8f4c8;
}

.btn__eliminar {
	background-color: #ee9191;
    color: #ffffff;
}

.btn__link{
    text-decoration: none;    
}
